proxy=http://135.245.192.7:8000/
https-proxy=http://135.245.192.7:8000/
http-proxy=http://135.245.192.7:8000
registry=http://orbw-artifactory.ca.alcatel-lucent.com:8081/artifactory/api/npm/alu-npm-virtual
@nokia-csf-uxr:registry=https://repo.lab.pl.alcatel-lucent.com/api/npm/csf-npm-delivered
@optics:registry=http://artifactory-onms.int.net.nokia.com:8081/artifactory/api/npm/npm-optics-virtual/
//artifactory-onms.int.net.nokia.com:8081/artifactory/api/npm/npm-optics-virtual/:_auth=Z3Vlc3Q6d2VsY29tZQ==